@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService IAuthorizationService


@{
  var result = await IAuthorizationService.AuthorizeAsync(this.User, "HideManage");
}

@if(result.Succeeded){
  
  <div class="dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Quản Lý
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="Index">Quản lý liên hệ</a>
    </li>
    <li>
      <a class="dropdown-item" asp-area="Identity" asp-controller="Role" asp-action="Index">Quản lý vai trò</a>
    </li>
     <li>
      <a class="dropdown-item" asp-area="Identity" asp-controller="User" asp-action="Index">Quản lý thành viên</a>
    </li>
  </ul>
</div>
}