.ChangePassWord_Container {
    padding: 25px 4%;
    .ChangePassWord_Container-title {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .ChangePassWord_Container-formGroup {
        label {
            font-size: 18px;
            margin-bottom: 12px;
            display: inline-block;
            width: 100%;
        }

        .ChangePassWord_Container-formGroup_item {
            position: relative;

            input:focus {
                border: 2px solid rgb(48, 136, 253);
            }


            input {
                padding: 0 24px;
                height: 56px;
                border: 1px solid rgb(108, 108, 108);
                border-radius: 4px;
                box-shadow: none;
                outline: none;
            }
        }

    }

    .ChangePassWord_Container-formGroup-btnsubmit {
        display: flex;
        justify-content: end;
        margin-top: 20px;
    }
}