@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Thêm số điện thoại";
    Layout = "_LayoutExtra";
}

<form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal AddPhoneNumber-Container" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="AddPhoneNumber-Container_Group">
        <label asp-for="PhoneNumber" ></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="AddPhoneNumber-Container_Group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Gửi mã</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
