@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "_InfoManagerLayout";
}

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal ChangePassWord_Container" role="form">
    <div class="ChangePassWord_Container-title">Thay đổi mật khẩu</div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="ChangePassWord_Container-formGroup">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10 ChangePassWord_Container-formGroup_item">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="ChangePassWord_Container-formGroup">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10 ChangePassWord_Container-formGroup_item">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="ChangePassWord_Container-formGroup">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10 ChangePassWord_Container-formGroup_item">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="ChangePassWord_Container-formGroup-btnsubmit col-md-10">
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </div>
</form>

@section FooterInfo {
    <footer style="margin-top: 286px;" class="FooterInfo">
        <a href="">quy chế sử dụng Dịch Vụ</a>
        <a href="">Hổ Trợ</a>
        <a href="">Khuyến mãi</a>
    </footer>
}

@* 
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
} *@


